# Copyright (c) 2023 tinyVision.ai
# SPDX-License-Identifier: Apache-2.0

config UDC_DWC3
	bool "DesignWare USB device controller driver"
	imply UDC_WORKQUEUE
	default y
	depends on DT_HAS_SNPS_DWC3_USBD_ENABLED
	help
	  Synopsys DesignWare DWC3 USB device controller driver.
